﻿body {
}

div.table-responsive table{
    width: 100%;
}

div.table-responsive table td, 
div.table-responsive table th{
    padding: 10px;
} 

tr[data-href] {
    background-color: #f4f4f4;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
tr[data-href]:hover {
    background-color: #fff;
    cursor: pointer;
}

div.heading > * {
    display: inline-block;
}



.navbar-nav li p, 
.navbar-nav li button{
    color: #777;
    padding-top: 15px;
    padding-bottom: 15px; 
    background: none;
    border: none; 
}