﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<div id="main-container">
    <div id="main" class="wrapper clearfix">
        <section>
            <h2>@Umbraco.Field("pageName")</h2>
            <p>@Umbraco.Field("bodyText")</p>
            @Umbraco.RenderMacro("Login")
        </section>
    </div>
</div>