﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" /> 
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />  
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />  
    <link rel="stylesheet" href="~/css/style.css" /> 
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@(Members.GetCurrentLoginStatus().IsLoggedIn ? "/Websites" : "#")">Website Management Portal</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav"> 

                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href="/open">Open</a></li>
                            <li><a href="/protected">protected</a></li>
                            <li><a href="/register">register</a></li> 
                        </ul>
                    </li>*@
                </ul>
                <ul class="pull-right nav navbar-nav">
                    @Umbraco.RenderMacro("LoginStatus")
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div> 
 
    <script src="/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", false)
</body>