﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var websiteUrl = Model.Content.GetPropertyValue("websiteUrl").ToString();
    websiteUrl = websiteUrl.StartsWith("http") ? websiteUrl : websiteUrl = "http://" + websiteUrl;
     
    var bannerList = Model.Content.GetPropertyValue("businessOwners").ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
    var bannerCollection = Umbraco.Content(bannerList);

}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="heading">
                <h1>@Model.Content.Name</h1>
                <a href="@websiteUrl">
                    <i class="fa fa-link"></i>
                </a> 
            </div>
            <div>
                <p>@Model.Content.GetPropertyValue("description")</p>
            </div>
        </div>
        <div class="col-md-4"> 
            @foreach (var item in bannerCollection)
            {
                <p><i class="fa fa-user"></i> @item.Name</p>
            } 
        </div>
    </div>


</div>

