﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var searchQuery = Request.QueryString["query"];
} 

<div class="row">
    <form action="/websites/" method="GET">
        <input type="text" placeholder="Search..." name="query">
        <button>Search</button>
    </form>
</div>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>
                    <p>Name</p>
                </th>
                <th>
                    <p>Url</p>
                </th>
                <th>
                    <p>Business Owners</p>
                </th>
            </tr>
        </thead>
        <tbody>


            @if (!string.IsNullOrEmpty(searchQuery))
            {

                foreach (var child in Model.Content.AncestorOrSelf().Children.Where(c => c.Name.Contains(searchQuery)))
                { 
                    <tr data-href="@child.Url">
                        <td>
                            <p>@child.Name</p>
                        </td>
                        <td>
                            <p>@child.GetPropertyValue("websiteUrl")</p>
                        </td>
                        <td>
                            @{
                                var bannerList = child.GetPropertyValue("businessOwners").ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                                var bannerCollection = Umbraco.Content(bannerList);
                                foreach (var item in bannerCollection)
                                {
                                    <p>@item.Name</p>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                foreach (var child in Model.Content.Children)
                {
                    <tr data-href="@child.Url">
                        <td>
                            <p>@child.Name</p>
                        </td>
                        <td>
                            <p>@child.GetPropertyValue("websiteUrl")</p>
                        </td>
                        <td>
                            @{
                                var bannerList = child.GetPropertyValue("businessOwners").ToString().Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                                var bannerCollection = Umbraco.Content(bannerList);
                                foreach (var item in bannerCollection)
                                {
                                    <p>@item.Name</p>
                                }
                            }
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>






@section scripts{ 
    <script>
        $('tr[data-href]').on("click", function () {
            document.location = $(this).data('href');
        });
    </script>
}
 